@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

  .title {
    color: #f7c66e;
    font-family: 'Titillium Web', sans-serif;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .paginate svg {

    max-width: 2.5em;
    max-height: 2.5em;

  }

  .paginate .flex-1 {

    display: none;
  }

  .paginate p {

    margin-top: 1.25em;

  }
  .paginate a {

    text-decoration: none;
    transition: background-color 300ms ease-out 10ms;

  }
  .paginate a:hover {

    background-color: rgb(218, 218, 218) !important;

  }

  .paginate .cursor-default {

    background-color: rgb(218, 218, 218) !important;

  }